<div id="intro" class="step slide" data-x="0">
  <a href="http://codegram.com" target="_blank"><%=image 'logo.png' %></a>
  <h1>Building a VM in Ruby</h1>
  <h2>Codegram Lightning Talks</h2>
  <p>Txus (@txustice) -  <a href="http://twitter.com/txustice" target="_blank">Twitter</a>, <a href="http://github.com/txus" target="_blank">GitHub</a></p>

</div>
