<div id="intro" class="step slide" data-x="0">
  <a href="http://codegram.com" target="_blank"><%=image 'logo.png' %></a>
  <h1>Brew your own coffee...script</h1>
  <h2>A simple transcompiler in Ruby</h2>
  <p>Txus (@txustice) -  <a href="http://twitter.com/txustice" target="_blank">Twitter</a>, <a href="http://github.com/txus" target="_blank">GitHub</a></p>
</div>
