<%=render partial: '/intro'%>

<div class="step slide" data-x="1000">
  <h1>¿Qué es el diseño orientado a servicios?</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet lorem nec arcu posuere pretium at vitae magna. Mauris placerat malesuada ipsum, non tincidunt massa porta vel. Phasellus posuere lectus non ante porttitor vel lacinia elit rutrum. Vivamus vestibulum pellentesque nisi vel consequat. Cras et purus felis, dictum iaculis velit. Praesent sit amet metus magna, ut sodales nunc
  </p>
</div>

<div class="step slide" data-x="2000" data-rotate="90" data-z="-1500">
  <h1>With syntax highlight!</h1>
  <h2>Ruby</h2>
  <%=render partial: 'ruby' %>
  <h2>Javascript...</h2>
  <%=render partial: 'javascript' %>
</div>

<div class="step slide" data-x="4000">
  <h1>Try with a video!</h1>
  <iframe width="100%" height="500" src="http://www.youtube.com/embed/oHg5SJYRHA0" frameborder="0" allowfullscreen></iframe>
</div>
