nav#navigation
  ul

a.menu_toggle href='#'
  span Index

javascript:
  $(document).ready(function(){
    $('.step').each(function(index, header){
      step_id = $(header).attr('id');
      step_header = $(header).children('h1:first').html();
      if (step_header != null)
        $('nav#navigation ul').append('<li><a href="#'+step_id+'">'+step_header+'</a></li>');
    });

    $('.menu_toggle').live('click', function(){ $('#navigation').toggle(); });
  });
