doctype html
html
  meta http-equiv="Content-Type" content="text/html;charset=UTF-8"
  head
    title=@title
    -if @description
      meta name="Description" content=@description
    link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,bold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet"
    link rel="shortcut icon" href="http://codegram-web.s3.amazonaws.com/favicon.png"
    ==stylesheet_link_tag 'codegram'
    ==stylesheet_link_tag 'print', media: 'print'
    ==stylesheet_link_tag 'code'
    ==stylesheet_link_tag 'code', media: 'print'
    ==javascript_include_tag 'jquery'
    ==javascript_include_tag 'sh/shCore'
    ==javascript_include_tag 'sh/shAutoloader'
    javascript:
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4f3d1513844d52624900003c');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();

    coffee:
      $ ->
        path = (args...) ->
          result = []
          for argument in args
              result.push(argument.replace('@', '/javascripts/sh/'))
          result

        SyntaxHighlighter.autoloader.apply(null, path(
          'applescript            @shBrushAppleScript.js',
          'actionscript3 as3      @shBrushAS3.js',
          'bash shell             @shBrushBash.js',
          'coffeescript coffee    @shBrushCoffeeScript.js',
          'coldfusion cf          @shBrushColdFusion.js',
          'cpp c                  @shBrushCpp.js',
          'c# c-sharp csharp      @shBrushCSharp.js',
          'css                    @shBrushCss.js',
          'delphi pascal          @shBrushDelphi.js',
          'diff patch pas         @shBrushDiff.js',
          'erl erlang             @shBrushErlang.js',
          'groovy                 @shBrushGroovy.js',
          'java                   @shBrushJava.js',
          'jfx javafx             @shBrushJavaFX.js',
          'js jscript javascript  @shBrushJScript.js',
          'perl pl                @shBrushPerl.js',
          'php                    @shBrushPhp.js',
          'text plain             @shBrushPlain.js',
          'py python              @shBrushPython.js',
          'ruby rails ror rb      @shBrushRuby.js',
          'sass scss              @shBrushSass.js',
          'scala                  @shBrushScala.js',
          'sql                    @shBrushSql.js',
          'vb vbnet               @shBrushVb.js',
          'xml xhtml xslt html    @shBrushXml.js'
        ))

        SyntaxHighlighter.defaults['toolbar'] = false

        SyntaxHighlighter.all()

  body
    -if @not_a_presentation
      #content==yield
    -else
      ==render partial: "navigation.html.slim"

      #impress class=(params[:print] ? 'impress-not-supported' : nil)
        ==yield
      .hint
        | Use <strong>spacebar</strong> or the <strong>arrow keys</strong> to navigate
      #bottom_bar
        #tweet
          ==%s{<a href="https://twitter.com/share" class="twitter-share-button" data-via="codegram" data-size="large" data-related="codegram">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>}
        #all_slides==link_to 'See all slides', '/'
    -unless params[:print]
      ==javascript_include_tag 'impress'
      javascript:
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28971430-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
