-@not_a_presentation = true

h1 Lightning Talks
h2 6/2/2012
h3 @josepjaume
ul
  li==link_to 'Building a VM in Ruby', 'building-a-vm-in-ruby'
  li==link_to "Heroku Buildpacks: Heroku for everything", 'heroku-buildpacks'
