<div id="intro" class="step slide" data-x="0">
  <a href="http://codegram.com" target="_blank"><%=image 'logo.png' %></a>
  <h1>Creating basic chrome extensions</h1>
  <h2>Codegram Lightning Talks</h2>
  <p>Marc Divins (@mdivins) -  <a href="http://twitter.com/mdivins" target="_blank">Twitter</a>, <a href="http://github.com/divins" target="_blank">GitHub</a></p>

</div>
