html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html, body {
  background: white;
}

body {
  color: #333333;
  font-family: "Open Sans";
  font-size: 100%;
  line-height: 1.4;
}

@font-face {
  font-family: Klavika;
  src: url('fonts/klavika-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: Klavika;
  src: url('fonts/klavika-medium-webfont.woff') format('woff');
  font-weight: bold;
}

body h1, body h2, body h3 {
  font-family: Klavika, "Helvetica Neue", Helvetica, Arial;
}

.links a:link, body a:link {
  color: #db2e34;
  text-decoration: underline;
}
.links a:visited, body a:visited {
  color: #db2e34;
}
.links a:hover, body a:hover {
  color: #db2e34;
  text-decoration: none;
}

.help_links {
  position: absolute;
  width: 100%;
  left: 35px;
  bottom: 40px;
  background-color: #ffffcd;
  padding-left: 20px;
}

.typography strong, body strong, .typography b, body b {
  color: strengthen(#333333);
  font-weight: bold;
}
.typography em, body em, .typography i, body i {
  font-style: italic;
}
.typography abbr, body abbr, .typography acronym, body acronym {
  border-bottom: 1px dotted #999999;
}
.typography sub, body sub, .typography sup, body sup {
  font-size: 85%;
}
.typography sub, body sub {
  vertical-align: sub;
}
.typography sup, body sup {
  vertical-align: super;
}
.typography span.caps, body span.caps {
  font-size: 95%;
}
.typography h1, body h1, .typography h2, body h2, .typography h3, body h3, .typography h4, body h4, .typography h5, body h5, .typography h6, body h6 {
  color: strengthen(#333333, 0.66);
  margin: 1em 0;
}
.typography h1, body h1 {
  font-weight: bold;
  font-size: 200%;
  line-height: 1.099;
  margin: 0.75em 0;
}
.typography h2, body h2 {
  font-weight: bold;
  font-size: 170%;
  line-height: 1.099;
}
.typography h3, body h3 {
  font-weight: bold;
  font-size: 140%;
  line-height: 1.169;
  margin: 1.25em 0 0.5em;
}
.typography h4, body h4 {
  font-weight: bold;
  font-size: 110%;
  line-height: 1.26;
  margin: 0.5em 0 0.5em;
}
.typography h5, body h5 {
  font-style: italic;
  font-size: 110%;
  line-height: 1.4;
  margin: 0.65em 0;
}
.typography h6, body h6 {
  font-weight: bold;
  margin-bottom: -0.75em;
}
.typography p, body p {
  margin: 1em 0;
}
.typography ul, body ul, .typography ol, body ol, .typography dl, body dl {
  margin-top: 1em;
  margin-bottom: 1em;
}
.typography ul, body ul, .typography ol, body ol, .typography dd, body dd {
  padding-left: 2.25em;
}
.typography ul, body ul {
  list-style: disc;
}
.typography ol, body ol {
  list-style: decimal;
}
.typography li, body li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.typography dt, body dt {
  margin-top: 1em;
}
.typography dd, body dd {
  margin-bottom: 1em;
}
.typography code, body code, .typography dfn, body dfn, .typography kbd, body kbd, .typography samp, body samp, .typography tt, body tt {
  font-family: Monaco, "Andale Mono", "Lucida Console", monospace;
  font-size: 95%;
  color: #666666;
}
.typography pre, body pre {
  background: #666666;
  color: #cccccc;
  font-family: Monaco, "Andale Mono", "Lucida Console", monospace;
  font-size: 95%;
  line-height: 1.4;
  margin: 1.5em 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}

body {
  color: rgba(0, 0, 0, 0.8);
}
body a {
  text-decoration: none !important;
}
body a:hover {
  text-decoration: underline !important;
}

#intro {
  padding-top: 150px;
  text-align: center;
  page-break-after: always;
}
#intro img {
  margin-bottom: 40px;
  margin-top: 40px;
}
#intro h1 {
  margin-top: 50px;
}
#intro h2 {
  font-weight: normal;
}

#content {
  width: 900px;
  margin: 20px auto;
  font-size: 20px;
}
#content #credits {
  margin-top: 40px;
  text-align: right;
  color: #aaaaaa;
}

.centered {
  text-align: center;
}

img {
  vertical-align: middle;
}

em {
  background-color: #dddddd;
  padding: 4px;
}

#logo img {
  margin-right: 20px;
}

body #impress .step {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  visibility: hidden;
  overflow: hidden;
}
body #impress .step.active {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

#bottom_bar {
  position: fixed;
  bottom: 10px;
  left: 10px;
}
#bottom_bar #tweet, #bottom_bar #all_slides {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
#bottom_bar #tweet, #bottom_bar #all_slides {
  *display: inline;
}
#bottom_bar #all_slides {
  margin-left: 15px;
}

nav#navigation {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}
nav#navigation ul {
  list-style: none;
  margin: 35px 0px 0px 0px;
  padding: 15px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}
nav#navigation ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

a.menu_toggle {
  position: absolute;
  left: 15px;
  top: 15px;
  font-size: 18px;
  font-weight: bold;
  z-index: 110;
}

body #impress.impress-not-supported {
  padding: 20px;
  padding-bottom: 0px;
  background: #f1f1f1;
}
body #impress.impress-not-supported .step {
  visibility: visible;
  background: white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  border: 1px solid #cccccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
body #impress .step {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  visibility: hidden;
  overflow: hidden;
}
body #impress .step.active {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

body #impress .slide {
  height: 700px;
  width: 900px;
  padding: 30px;
  font-size: 24px;
  line-height: 36px;
  visibility: visible;
}
body #impress .slide h1 {
  margin-top: 0px;
}

.step-intro + .hint {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.hint {
  position: fixed;
  bottom: 20%;
  left: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 2em;
  text-align: center;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  padding: 5px;
  font-family: Klavika, "Helvetica Neue", Helvetica, Arial;
}
