@font-face
  font-family: Klavika
  src: font-files('klavika-regular-webfont.woff', woff)

@font-face
  font-family: Klavika
  src: font-files('klavika-medium-webfont.woff', woff)
  font-weight: bold

body
  h1, h2, h3
    font-family: Klavika, "Helvetica Neue", Helvetica, Arial
