<div id="intro" class="step slide" data-x="0">
  <%=image 'logo.png' %>
  <h1>
    <img src="/images/heroku-buildpacks/heroku-logo.png" />
    buildpacks</h1>
  <h2>
    Heroku for everything
  </h2>
  <p>Josep Jaume Rey (@josepjaume) -  <a href="http://twitter.com/josepjaume" target="_blank">Twitter</a>, <a href="http://github.com/josepjaume" target="_blank">GitHub</a></p>
</div>
