<div id="intro" class="step slide" data-x="0">
  <a href="http://codegram.com" target="_blank"><%=image 'logo.png' %></a>
  <h1>Objected Oriented Nirvana</h1>
  <h2>Codegram Lightning Talks</h2>
  <p>Oriol Gual -  <a href="http://twitter.com/oriolgual" target="_blank">Twitter</a>, <a href="http://github.com/oriolgual" target="_blank">GitHub</a></p>
</div>
